body{
    background-color: rgb(70, 81, 97);
}
.a1{
    border: 1px solid black;
    margin: 50px 500px;
    height: 500px; 
    border-radius: 6%;
}
.a2{
    border: 1px solid rgb(255, 255, 255);
    margin: 0px;
    height: 100px;
     font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
    background-color: white;
} 
.a3{
    border: 1px solid rgb(58, 58, 58);
    margin: 0px;
    height: 420px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    background-color: rgb(58, 58, 58);
}
.pic{
    border: 1px solid rgb(58, 58, 58);
    height: 150.8px;
    padding: 20px 0px 0px 106px ;
    
}
.frame{
    border: 1px solid black;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background-color: rgb(119, 154, 182);
}
.img{
    width: 125px;
    border-radius: 50%;
}
.write-up{
    border: 1px solid rgb(58, 58, 58);
    height: 87.4px;
    font-size: 16px;
    text-align: justify;
    color: white;
    padding: 0px 30px;
}
.ig-info{
    border: 1px solid rgb(58, 58, 58);
    height: 79.4px;
    padding: 0px 0px 0px 0px ;
}
.number{
    font-size: 25px;
    color: white;
}
.letters{
    color: white;
    font-size: 15px;
}
.action{
   padding: 5px 30px ;
   height: 60px;
}
.follow{
    border: 1px solid rgb(54, 75, 190);
    height: 30px;
    float:left;
    width: 130px;
    border-radius: 35px;
    background-color: rgb(54, 75, 190);
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 8px 0px 0px 0px;
        }
.message{
    border: 1px solid rgb(255, 255, 255);
    height: 30px;
    float: right;
    width: 130px;
    border-radius: 35px;
    background-color: rgb(255, 255, 255); 
    font-size: 20px;
    text-align: center;
    color: rgb(88, 88, 88);
    padding: 8px 0px 0px 0px;
}